* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui;
    color: #555;
    background-color: #f7f7f7;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
    .company {
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    width: 30rem;
    border-radius: 0.7rem;
    margin: 0 3rem;
    /* overflow: hidden; */
  }
  
     
  .company__img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }
  
  
  
  .images {
    display: flex;
  }
  
 